.p-thanks-title {
    text-align: center;
    padding: 8rem 0 2rem;
    font-size: var(--fs-lg);
}

.p-thanks {
    line-height: 2;
    padding-bottom: 8rem;
}

.p-thanks__text {
    padding-bottom: 2rem;
}

.p-thanks__note {
    padding-bottom: 5rem;
}
