
.c-label {
    padding: 2px 4px;
    font-size: var(--fs-xs);
    color: var(--text-sub);
    border: 2px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s;
    align-self: center;
}