.c-thumbnail {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;

    .wp-post-image,
    .c-thumbnail__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}